:root {
  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Light-Grayish-Red: hsl(14, 92%, 95%);
  --Light-Red: hsl(15, 100%, 70%);
  --Pale-Blue: hsl(226, 100%, 87%);
  --White: hsl(0, 0%, 100%);
  --Very-Pale-Blue: hsl(230, 100%, 99%);
  --Very-Light-Grayish-Blue: hsl(224, 65%, 95%);
  --Light-Grayish-Blue: hsl(223, 50%, 87%);
  --Grayish-Blue: hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
  --number: 50%;
}

@font-face {
  font-family: Manrope;
  src: url("./fonts/manrope.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/bg-pattern.svg");
  background-color: var(--Very-Pale-Blue);
  background-position: top right;
  background-size: 100vw 50vh;
  background-repeat: no-repeat;

  font-family: Manrope, sans-serif;

  color: var(--Grayish-Blue);

  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;

  display: flex;
  justify-content: center;
}

input {
  width: 100%;
}

input[type="range"] {
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
}

input[type="range"]::-ms-track {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  color: transparent;
}

input[type="range"]::-moz-range-thumb {
  border: none;
}

input[type="range"]:focus {
  outline: none;
}

.app {
  width: calc(100% - 13vw);
}

.acessibility {
  display: none;
}

.presentation {
  background-image: url("assets/pattern-circles.svg");
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;

  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  row-gap: 5px;

  min-height: 200px;

  margin-top: 30px;
  margin-bottom: 5px;
}

.presentation__features {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--Dark-Desaturated-Blue);
  margin-bottom: 5px;
}

.presentation__text {
  font-size: 0.8rem;
  font-weight: 600;
}

.plan {
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.01);
  background-color: var(--White);

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  margin-bottom: 75px;
}

.plan__start {
  grid-row: 3;

  width: 50%;

  margin-inline: auto;

  padding: 11px 20px;

  background-color: var(--Dark-Desaturated-Blue);
  color: (var(--White));

  font-weight: 800;
  font-family: "Manrope";
  font-size: 0.75rem;

  cursor: pointer;

  border: none;
  border-radius: 20px;

  margin-bottom: 40px;
}

.traffic {
  padding: 35px 24px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-;
  row-gap: 50px;
}

.traffic__amount {
  text-transform: uppercase;

  font-weight: 800;
  font-size: 0.75rem;

  letter-spacing: 0.1rem;
}

.traffic__range {
  margin-top: -17px;
}

.traffic__range::-moz-range-thumb {
  background-color: var(--Strong-Cyan);
  background-image: url("assets/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 14px;
  border-radius: 100%;
  box-shadow: 0px 15px 40px var(--Strong-Cyan);
}

.traffic__range:hover::-moz-range-thumb {
  background-color: hsl(174, 86%, 55%);
}

.traffic__range:active::-moz-range-thumb {
  background-color: hsl(174, 86%, 35%);
}

.traffic__range::-ms-thumb {
  background-color: var(--Strong-Cyan);
  background-image: url("assets/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 12px;
  border-radius: 100%;
  box-shadow: 0px 15px 40px var(--Strong-Cyan);
}

.traffic__range::-webkit-slider-thumb {
  background-color: var(--Strong-Cyan);
  background-image: url("assets/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  box-shadow: 0px 15px 40px var(--Strong-Cyan);
  width: 40px;
  height: 40px;
  transform: translateY(-40%);
}

.traffic__range::-moz-range-track {
  background-color: var(--Very-Light-Grayish-Blue);
  border-radius: 10px;
  height: 8px;
}

.traffic__range::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    var(--Soft-Cyan) var(--number),
    var(--Very-Light-Grayish-Blue) var(--number)
  );
  border-radius: 10px;
  height: 10px;
}

.traffic__range::-moz-range-progress {
  background-color: var(--Soft-Cyan);
  height: 8px;
  border-radius: 10px;
}

.traffic__signature {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  font-weight: normal;
}

.traffic__price {
  color: var(--Dark-Desaturated-Blue);

  font-size: 2rem;
  font-weight: bold;

  margin-right: 0.6rem;
}

.monthly {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;

  width: 100%;
  height: 40px;

  font-size: 0.8rem;

  margin-inline: auto;
}

.monthly__text {
  flex-shrink: 0;
}

.monthly__discount {
  background-color: var(--Light-Grayish-Red);
  color: var(--Light-Red);

  font-weight: 800;
  font-size: 0.6rem;

  padding: 4px 10px;
  border-radius: 15px;

  margin-left: 5px;
}

.monthly__discount::before {
  content: "-";
}

.checkbox {
  background-color: var(--Light-Grayish-Blue);

  border-radius: 30px;

  position: relative;

  min-width: 60px;
  width: 60px;
  height: 30px;

  transition: background 200ms;
}

.checkbox--active {
  background-color: var(--Strong-Cyan);
}

.checkbox__box {
  visibility: hidden;
}

.checkbox__box:checked + .checkbox__circle {
  left: 35px;
}

.checkbox__circle {
  display: block;
  position: absolute;

  left: 4px;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  border-radius: 100%;

  background-color: var(--Very-Pale-Blue);

  cursor: pointer;

  transition: All 300ms ease;
}

.advantages {
  grid-row: 2;

  font-size: 0.9rem;
  text-align: center;

  display: flex;
  flex-flow: column;
  align-items: center;

  row-gap: 10px;

  padding: 25px 0;

  border-top: 1px solid var(--Light-Grayish-Blue);
}

.advantages__item {
  background-image: url("assets/icon-check.svg");
  background-repeat: no-repeat;
  background-position: left center;

  padding-left: 20px;

  font-weight: 500;
}

@media screen and (orientation: landscape) and (min-width: 1440px) {
  .app {
    width: calc(100% - 60vw);
  }
  .presentation {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: row wrap; 
    row-gap: 5px;
    column-gap: 5px;
  }

  .presentation__features {
    font-size: 1.8rem;
    flex-basis: 100%;
  }

  .presentation__text {
    flex-basis: 45%;
    align-self: flex-start;

    text-align: right;

    font-size: .935rem;
  }
  .presentation__text:last-child {
    text-align: left;
    flex-basis: 40%;
  }
}
